/.nyc_output
/coverage
/dist
/docs/.vitepress/dist
/docs/.vitepress/build-system/shim/eslint.mjs
/docs/.vitepress/cache
/node_modules
/assets
!/docs/.vitepress
!/.vscode
!/.github
/tests/fixtures/integrations/eslint-plugin/test.js
