@media screen and (min-width 400px) and (max-width 450px)
  #app .navbar .site-name
    font-size calc(1.3rem * 0.8)

@media screen and (max-width 400px)
  #app .navbar
    .home-link
      display flex
      height 100%
      align-items center

      .site-name
        font-size calc(1.3rem * 0.8)
        white-space unset
        line-height 1em

// rule-details
.theme-container.rule-details .content__default > h1
  font-size 1.8rem

  + blockquote
    margin-top -15px
    padding 0
    border 0
    font-weight 500
    font-size 1.4rem
    color currentColor

    ::first-letter
      text-transform uppercase

    p
      line-height 1.2

// playground
.theme-container.playground
  .content__default:not(.custom)
    max-width 900px
    margin 0 auto
    padding 2rem 2.5rem

  .app
    height calc(100vh - 70px)

  .sidebar-button
    display block

  .navbar
    padding-left 4rem

  .sidebar
    top 0
    padding-top 3.6rem
    transform translateX(-100%)
    transition transform 0.2s ease

  .page
    padding-left 0

.theme-container
  .sidebar
    transition transform 0.2s ease

.theme-container.playground.sidebar-open
  .sidebar
    transform translateX(0)
