name: cron
on:
  schedule:
    - cron: 0 0 * * 0

jobs:
  check-unicode-alias-update:
    name: check-unicode-alias-update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
      - name: Install Packages
        run: npm install
      - name: Update
        run: npm run update:unicode-alias
      - name: Format
        run: npm run eslint-fix
      - name: Check changes
        run: |
            git add --all && \
            git diff-index --cached HEAD --stat --exit-code
