name: cron
on:
    workflow_dispatch: null
    schedule:
        - cron: 0 0 * * 0

permissions:
    contents: write
    pull-requests: write

jobs:
    update-unicode-alias:
        name: update-unicode-alias
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Install Node.js
              uses: actions/setup-node@v5
            - name: Install Packages
              run: npm install
            - name: Update
              run: npm run update:unicode-alias
            - name: Format
              run: npm run eslint-fix
            - uses: peter-evans/create-pull-request@v8
              with:
                  commit-message: Updates unicode property alias resource with latest
                  branch: update-unicode-alias
                  branch-suffix: timestamp
                  title: Updates unicode property alias resource with latest
