name: GHPages

on:
    push:
        branches: [master]

jobs:
    deploy-docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
            - name: Install Packages
              run: npm ci
            - name: Build docs
              run: npm run docs:build
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./docs/.vuepress/dist
                  force_orphan: true
