name: CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
            - name: Install Packages
              run: npm ci
            - name: Build
              run: npm run build
            - name: Lint
              run: npm run lint
    test:
        runs-on: macos-latest
        strategy:
            matrix:
                node: [18.x, 20.x]
                eslint: [8, 9]
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}
            - name: Install Packages
              run: npm ci
            - name: Install ESLint ${{ matrix.eslint }}
              run: npm i -D eslint@${{ matrix.eslint }}
            - name: Build
              run: npm run build
            - name: Test
              run: npm test
    test-and-coverage:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
            - name: Install Packages
              run: npm ci
            - name: Build
              run: npm run build
            - name: Test
              run: npm run test:nyc
            - name: Coveralls GitHub Action
              uses: coverallsapp/github-action@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
    update:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
            - name: Install Packages
              run: npm ci
            - name: Build
              run: npm run build
            - name: Update
              run: npm run update
            - name: Check changes
              run: |
                  git add --all && \
                  git diff-index --cached HEAD --stat --exit-code
